.slider {
  position: relative;
  height: 480px;

  background-image: url("/src/images/Banda-Larga-Empresarial.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

.content {
  display: flex;
  align-items: left; /* align items to the left */
  justify-content: center; /* move everything left */
  flex: 1;
  text-align: left; /* text aligns properly */
  margin-right: 820px; 
}

.left {
  text-align: left;  /* aligns text to image edge */
}

.left h2 {
    font-size: 3.5rem;
    font-weight: 600;
      margin: 0;
      margin-top: 20px;

    
}

.left p {
    font-size: 2rem;
  display: inline;
    line-height: 1.3;
    background: #527dbe;
    margin-bottom: 20px;
    font-weight: 600;
    
      margin: 0;

}

.slide img {
  display: block; /* avoids weird inline spacing */
  width: 300px;
  max-width: 100%; /* prevents overflow */  
  height: auto;
}

/* SLIDES */

.slide {
  display: none;
  max-width: 600px;
}

.slide.active {
  display: flex;
  flex-direction: column; /* stack text above image */
  align-items: flex-start; 
    gap: 40px;
}

/* BUTTONS */

.controls {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  margin-bottom: 40px;
}

.controls button {
  width: 16px;   
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
}

.controls button:hover {
  background: rgba(9, 9, 9, 0.393);
}

.controls button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: white;
  transition: height 0.2s ease;
  z-index: 0;
}

.controls button.active::before {
  height: 100%; /* fills from bottom */
}


/* animation */
.left {
  transform: translateX(-100vw); /* fully off-screen left */
  opacity: 0;
}

.slide img {
  transform: translateX(100vw); /* fully off-screen right */
  opacity: 0;
}

.slide.active .left {
  animation: slideInLeft 1.8s ease forwards;
}

.slide.active img {
  animation: slideInRight 1.8s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* RESPONSIVE */
@media (max-width: 1024px) {
  .content {
    padding-left: 100px;
  }

  .left h2 {
    font-size: 2.8rem;
  }

  .left p {
    font-size: 1.6rem;
  }
}

@media (max-width: 770px) {
  .slider {
  height: 360px;
}
.controls {
  margin-bottom: 0px;
}
    .content {
    padding-left: 20px;
    padding-right: 20px;
      margin-right: 320px; 

  }

  .left h2 {
    font-size: 2.2rem;
  }

  .left p {
    font-size: 1.2rem;
  }

  .slide img {
    width: 200px;
  }
}

@media (max-width: 420px) {
.slider {
  height: 600px;
  background-image: url("src/images/Banda-Larga-Empresarial-Mobile.jpg");
  background-size: cover;
  background-position: center;
}

.content{
    margin-right: 80px; 

}
}
