---
import Header2 from "../components/Header2.astro";
import Hero2 from "../components/Hero2.astro";
import Plans2 from "../components/Plans2.astro";
import Benefits from "../components/Benefits.astro";
import Coverage from "../components/Coverage.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

---
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITS Brasil - Empresarial</title>
  </head>

<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
</style>

<Header2 />
  <Hero2 />
  <Plans2 />
  <Benefits />
  <Coverage />
  <Contact />
<Footer />
