---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "formulario";
import "../styles/formulario.css";

const plans = [
  { value: "100MB", label: "100MB - R$ 79,90" },
  { value: "300MB", label: "300MB - R$ 89,90" },
  { value: "500MB", label: "500MB - R$ 89,90" },
  { value: "600MB", label: "600MB - R$ 129,90" },
];

const url = new URL(Astro.request.url);
const selectedPlan = url.searchParams.get("plano");

---
<BaseLayout>


<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Finalizar Pedido</title>
    <link rel="stylesheet" href="/styles/form.css">
  </head>

  <body>
    <section class="container">
      <h1>
        Preencha as informações abaixo e <span>finalize seu pedido!</span>
      </h1>

      <form id="form">

        <!-- INTERNET -->
        <div class="box" id="box1">
          <h2>Sua Internet Banda Larga</h2>

          <label>Tipo *</label>
          <select>
            <option>Residencial</option>
          </select>

          <label>Seu Plano *</label>
          <select id="plano">
            {plans.map(plan => (
              <option value={plan.value}>{plan.label}</option>
            ))}
          </select>

          <ul class="benefits">
            <li>Rápida</li>
            <li>Estável</li>
            <li>Suporte 6h às 22h</li>
            <li>Instalação Grátis</li>
            <li>A velocidade anunciada de acesso e tráfego na internet é nominal máxima, podendo sofrer variações decorrentes de fatores externos. A título de medição da velocidade nominal, esta deve ser feita com conexão direta em uma ethernet do modem, sendo que a medição através da interface wireless irá variar de acordo com a capacidade de processamento de cada dispositivo externo. A maioria dos dispositivos wireless disponíveis no mercado como celulares e notebooks, não conseguem medir velocidades individualmente superiores a 200 MB.</li>
          </ul>
        </div>

        <!-- DADOS -->
        <div class="box">
          <h2>Responsável/Solicitante</h2>

          <div class="grid">
            <input name="nome" placeholder="Nome Completo *" />
            <input name="email" placeholder="E-mail *" />
            <input name="cpf" placeholder="CPF *" />
            <input name="mobile" placeholder="Celular *" />
            <input name="RG" placeholder="RG *" />
            <input name="birthday" placeholder="Data de Nascimento *" />
            <input name="phone" placeholder="Telefone" />
            <input name="phoneExtra" placeholder="Telefone Adicional" />
          </div>
        </div>

        <!-- ENDEREÇO -->
        <div class="box">
          <h2>Local de Instalação</h2>

          <div class="grid">
            <input name="CEP" placeholder="CEP *" />
            <input name="state" placeholder="Estado *" />
            <input name="city" placeholder="Cidade *" />
            <input name="bairro" placeholder="Bairro *" />
            <input name="adress" placeholder="Endereço *" />
            <input name="adressNumber" placeholder="Número *" />
            <select name="CasaOuApt" >
              <option>Casa</option>
              <option>Apartamento</option>
            </select>
            <input name="complemento" placeholder="Complemento" />
          </div>
        </div>

        <!-- PAGAMENTO -->
        <div class="box" id="box4">
          <h2>Forma de Pagamento</h2>

          <label>
            <input name="boleto" type="radio" name="pagamento" checked />
            Boleto
          </label>
        </div>

        <!-- INFO -->
        <div class="box">
          <h2>Informações Adicionais</h2>

          <p>Já possui Banda Larga?</p>
          <label><input name="internetNo" type="radio" name="internet" checked /> Não</label>
          <label><input name="internetYes" type="radio" name="internet" /> Sim</label>
        </div>

        <!-- SUBMIT -->
        <button type="submit" class="submit">
          Enviar
        </button>

      </form>
    </section>
  </body>
</html>

<script>
  const form = document.getElementById("form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    const data = Object.fromEntries(formData.entries());

    const res = await fetch("/api/lead", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });

    const result = await res.json();

    if (result.success) {
      alert("Enviado com sucesso!");
    }
  });
</script>










</BaseLayout>