---
const benefits = [
  "Wi-fi grátis",
  "Suporte Especializado",
  "Planos acessíveis",
  "Maior Velocidade",
  "Rápida instalação",
  "Fibra própria"
];
---

<section>
  <h2>Vantagens</h2>
  <ul>
    {benefits.map(item => <li>{item}</li>)}
  </ul>
</section>