---
import "../styles/contact.css";
---
<section class="contact" id="contact">
  
  
  <h2 class="contact-title">
    <span>Nossos Canais</span> <span class="green">de Atendimento</span>
  </h2>

  <p class="contact-text">
   A ITS Brasil sempre ao seu alcance.
  </p>

<div class="contact-content">
<div class="contact-catch">
<img src="src/images/contact-us.jpg">
</div>

<div class="contact-info">

<a href="https://wa.me/5599999999999" target="_blank" class="contact-call">
  <img src="public/icons/wifi.png">
<div class="contact-call-text">
  <h1>Compre pelo WhatsApp.</h1>
  <p>Facilidade para você contratar nossos serviços. Contrate agora online!</p>
</div>
</a>


<a href="tel:+5599999999999"  class="contact-call">
  <img src="public/icons/wifi.png">
<div class="contact-call-text">
  <h1>Ligue para (71) 3402-0800</h1>
  <p>Fale com a nossa equipe a qualquer hora.</p>
</div>
</a>

<a href="mailto:contato@empresa.com" class="contact-call">
  <img src="public/icons/wifi.png">
<div class="contact-call-text">
  <h1>Envie um e-mail</h1>
  <p>Mande uma mensagem para comercial@itsbrasil.net e entraremos em contato.</p>
</div>
</a>

</div>
</div>







</div>
  </div>
</section>