---
import "../styles/footer.css";
---

<div class="footer">
  <div class="footer-content-area">
    <div class="footer-container">
      <div class="footer-text">
        <p>Com 17 anos atuando no mercado corporativo, somos referência e líder no provimento de acesso à Internet no estado da Bahia.</p>
        <a href="#" target="_blank">Conheça mais sobre A ITS.</a>
      </div>
      <div class="footer-links">
        <div class="footer-link">
          <a href="#" target="_blank">Para Você</a>
        </div>
        <div class="footer-link">
          <a href="#" target="_blank">Para Empresas</a>
        </div>
        <div class="footer-link">
          <a href="#" target="_blank">A ITS</a>
        </div>
        <div class="footer-link">
          <a href="#" target="_blank">Blog</a>
        </div>
        <div class="footer-link">
          <a href="#" target="_blank">Fale Conosco</a>
        </div>
        <div class="footer-link">
          <a href="#" target="_blank">Central do Cliente</a>
        </div>
        <div class="footer-link">
          <a href="#" target="_blank">Trabalhe Conosco</a>
        </div>
        <div class="footer-link">
          <a href="#" target="_blank">Nosso Contrato</a>
        </div>
      </div>
      <div class="footer-social">
        <div class="social-box">
          <div class="social-icon">
            <img src="/public/icons/MapMarker.png" alt="link" />
          </div>
          <a href="#" class="social-content">
            <p>Localização: </p>
            <p>Salvador, Caminho das Árvores,</br>Ed. Liz Corporate, 111, 5º andar</p>
          </a>
        </div>
        <div class="social-box">
          <div class="social-icon">
            <img src="/public/icons/MapMarker.png" alt="link" />
          </div>
          <a href="#" class="social-content">
            <p>E-mail:  </p>
            <p>comercial@itsbrasil.net</p>
          </a>
        </div>
        <div class="social-box">
          <div class="social-icon">
            <img src="/public/icons/MapMarker.png" alt="link" />
          </div>
          <a href="#" class="social-content">
            <p>Tel: </p>
            <p>+55 71 3402 0800 </p>
          </a>
        </div>
        <div class="social-box">
          <div class="social-icon">
            <img src="/public/icons/MapMarker.png" alt="link" />
          </div>
          <a href="#" class="social-content">
            <p>WhatsApp:  </p>
            <p>+55 71 3402-0800</p>
          </a>
        </div>
    </div>
  </div>
    <div class="footer-icon-bar"> 
    <a href="#"><img src="/public/icons/wifi.png" alt="link" /></a>
    <a href="#"><img src="/public/icons/wifi.png" alt="link" /></a>
    <a href="#"><img src="/public/icons/wifi.png" alt="link" /></a>
    </div>
  </div>

</div>
  <!-- BOTTOM -->
  <div class="footer-bottom">
    © Copyright <span>ITS Brasil</span> 2021. Todos os direitos reservados.
    ITS TELECOMUNICACOES LTDA | CNPJ: 08.772.214/0001-98
  </div>
