---
import "../styles/GlobalStyle.css";
---

<header class="header">
<div class="container">
  <!-- TOP BAR -->
  <div class="topbar">
    <div class="topbar-left">
      <a href="http://localhost:4321/">Para Você</a>
      <a href="https://www.itsbrasil.net/para-empresas/banda-larga/">Para Empresas</a>
    </div>

    <div class="topbar-right">
      <div class="dropdown">
  <button class="dropdown-toggle">
    A ITS ▾
  </button>

  <div class="dropdown-menu">
    <a href="http://localhost:4321/sobre_nos">Sobre a ITS</a>
    <a href="http://localhost:4321/blog">Blog</a>
    <a href="http://localhost:4321/fale_conosco">Fale Conosco</a>
  </div>
</div>
      <a href="https://api.itsbrasil.hubsoft.com.br/" target="_blank" rel="noopener noreferrer">Central do Cliente</a>
      <a href="#">Salvador, BA ▾</a>
    </div>
  </div>

  <!-- MAIN HEADER -->
  <div class="navbar">
<a href="/" class="logo">
    <img src="../public/icons/ItBrasilLogo.png" alt="ITS Brasil" />
</a>

    <nav class="nav">
      <a href="http://localhost:4321/#banda-larga">Para Você</a>
      <a href="http://localhost:4321/#coverage">Cobertura</a>
      <a href="http://localhost:4321/#contact">Canais de Atendimento</a>
      <a href="https://oportunidades.mindsight.com.br/itsbrasil" target="_blank" rel="noopener noreferrer">Trabalhe Conosco</a>
    </nav>
  </div>
</div>
</header>