---
import "../styles/GlobalStyle.css";
import Headermodal from "./headermodal.astro";
---
<header class="header">
<div class="container">
  <!-- TOP BAR -->
  <div class="topbar">
    <div class="topbar-left">
      <a href="http://localhost:4321/">Para Você</a>
      <a href="http://localhost:4321/empresarial">Para Empresas</a>
    </div>

    <div class="topbar-right">
      <div class="dropdown">
  <button class="dropdown-toggle">
    A ITS ▾
  </button>

  <div class="dropdown-menu">
    <a href="http://localhost:4321/sobre_nos">Sobre a ITS</a>
    <a href="http://localhost:4321/blog">Blog</a>
    <a href="http://localhost:4321/fale_conosco">Fale Conosco</a>
  </div>
</div>
      <a href="https://api.itsbrasil.hubsoft.com.br/" target="_blank" rel="noopener noreferrer" class="header-central">Central do Cliente</a>
      <Headermodal />

    </div>
  </div>

  <!-- MAIN HEADER -->
  <div class="navbar">
<a href="/" class="logo">
    <img src="../icons/ItBrasilLogo.png" alt="ITS Brasil" />
</a>

    <!-- nav toggle -->
<button class="menu-toggle" id="menuToggle">
  ☰
</button>

    <nav class="nav">
      <a href="http://localhost:4321/empresarial#banda-larga">Para Você</a>
      <a href="https://www.itsbrasil.net/para-empresas/link-dedicado/" target="_blank" rel="noopener noreferrer">Link Dedicado</a>
      <a href="http://localhost:4321/empresarial#fibra">ITS fibra</a>
      <a href="http://localhost:4321/empresarial#coverage">Cobertura</a>
      <a href="http://localhost:4321/empresarial#contact">Canais de Atendimento</a>
      <a href="https://oportunidades.mindsight.com.br/itsbrasil" target="_blank" rel="noopener noreferrer">Trabalhe Conosco</a>
    </nav>
  </div>
</div>
</header>

<script>
  const toggle = document.getElementById("menuToggle");
  const nav = document.querySelector(".nav");

  toggle.addEventListener("click", () => {
    nav.classList.toggle("open");
  });


</script>